.header-header {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.103);
  display: flex;
  align-items: center;

  nav,
  a {
    text-decoration: none;
    color: black;
  }
}

.header-neomall {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;

  a {
    align-items: center;
  }
}

.header-neomall-link {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.header-nav-section {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;

  img {
    height: 1.5rem;
    margin-right: 1rem;
  }
}

.header-nav-section:hover {
  a {
    transition: 0.2s ease-in;
    color: rgba(1, 1, 48, 0.877);
  }
}
